/* ./client/src/styles/customTimeline.css */

.timeline-wrapper {
  padding: 12px;
  background-color: #f5eded;
  border-radius: 12px;
}

.timeline-content-box {
  background-color: white;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.06);
}

.vertical-timeline-element-date {
  font-size: clamp(18px, 1.2vw, 24px);
  font-weight: 600;
  color: #333;
  font-family: 'Lexend', sans-serif;
  margin-left: 10px;
  margin-right: 10px;
}

/* Typography Styling */
.vertical-timeline-element-title {
  font-size: clamp(18px, 2vw, 24px);
  font-family: 'Lexend', sans-serif;
  font-weight: bold;
}

.vertical-timeline-element-subtitle {
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: 500;
  color: #F04B24;
}

.vertical-timeline-element p,
.vertical-timeline-element ul li {
  font-size: clamp(13px, 1.2vw, 16px);
  color: #444;
  font-family: 'Lexend', sans-serif;
  margin-bottom: 4px;
}

.vertical-timeline-element--work ul {
  padding-left: 20px;
  margin-top: 8px;
}

.vertical-timeline-element-content {
  border-radius: 12px;
  box-shadow: none;
}