/* src/styles/customNav.css */

.ant-menu-dark .ant-menu-item {
  font-size: 20px;
  color: #f5f5f5;
}

.ant-menu-dark .ant-menu-item:hover {
  color: #10b981;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #1a1a1a !important;
  font-weight: bold;
}
